# Common configuration shared between all applications
configserver:
  name: Docker JHipster Registry
  status: Connected to the JHipster Registry running in Docker

jhipster:
  security:
    authentication:
      jwt:
        # secret key which should be base64 encoded and changed in production
        base64-secret: NWE5ZDMxNzJlZWI0ODc2MWFjNDI4ZTgzNjI2NGU4ZTUwOWQxZDA2NTY3OGY2Mjg4MmE5M2FkM2IxMGJlZWU5MmQ3NjliOGFkMGExZTUyMjU1YTI1YWM5M2EzNzA1OWQ0ZDM5NDE5OTFjZDg4ZmU1NDcyN2RkOWI3MTgwZmM3Nzk=

eureka:
  client:
    service-url:
      defaultZone: http://admin:${jhipster.registry.password}@localhost:8761/eureka/
